*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3B2240;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: #fff;
    text-align: center;
}

.calendario img{
    width: 100%;
}
